* {
    margin: 0;
    top: 0;
}

header {
    width: 100%;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: inline-end;
    margin-top: 15px;
}

header a h2 {
    display: inline-block; 
    margin-left: 25px;
    margin-top: 15px;
}

#codeTimer {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 25px; 
    margin-top: auto;
}

main,
section {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

p {
    font-size: 25px;  
    margin-top: 10px;
}

button {
    background-color: purple;
    padding: 15px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 10px;
}

button h3 {
    color: white;
}

.hideQuiz,
.hideResult,
.hideHighScores {
    display: none;
}

/* Quiz Styling */

.ans {
    display: grid;
    width: 40%;
    cursor: pointer;
}

/* Result section styling */

.result {
    width: 100%;
    border-top: 2px black;

}